body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: rebeccapurple;
}

h2 {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

ul li {
    list-style-type: none;
}

#new-todo-item-form {
    border: 1px solid white;
    width: 80%;
    margin: 0px auto;
    padding: 10px;
}

.todo-form-input {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#title {
    display: block;
    width: 50%;
    margin: 5px auto;
    height: 3em;
    text-align: center;
    font-size: 1em;
}

#details {
    display: block;
    width: 50%;
    margin: 5px auto;
    height: 9em;
    padding: 10px;
    text-align: center;
    resize: none;
    font-size: 0.75em;
}

#deadline {
    display: block;
    width: 50%;
    margin: 5px auto;
    height: 3em;
    text-align: center;
    font-size: 1em;
}

#category {
    display: block;
    width: 50%;
    margin: 5px auto;
    height: 3em;
    text-align-last: center;
    font-size: 1em;
}

.todo-form-input input[type="submit"] {
    background-color: green;
    color: white;
    padding: 5px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

#delete-all {
    background-color: red;
    color: white;
    padding: 5px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100px;
    margin: 0 auto;
}

#todo-list {
    display: block;
    text-align: center;
}

.todo-item {
    display: block;
    background-color: blue;
    display: inline-block;
    width: 80%;
    margin: 10px auto;

}



